.menu {
  background-color: rgba(0, 0, 0, 0.350);
  padding: 1.5rem;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  font-weight: normal;
  align-items: center;
  gap: 1rem;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navLink {
  display: flex;
  font-weight: normal;
  justify-content: start;
  align-items: center;
  gap: 1.7rem;
  padding: 1rem 1.7rem;
  min-width: 15rem;
  font-size: 1.5rem;
  background: none;
}

.quickStartBtn {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  justify-content: center;
  align-items: start;
  gap: .3rem;
  padding: .5rem 1.5rem 1rem 1.5rem;
  min-width: 15rem;
  font-size: 1.5rem;
  background: hsla(0, 0%, 0%, 0.25);
  overflow: hidden;
  position: relative;
}

.quickStartBtn svg {
  position: absolute;
  right: 0rem;
  bottom: -2.2rem;
  font-size: 7rem;
  opacity: .1;
}

.navLink:global(.active) {
  background: hsla(0, 0%, 0%, 0.500);
}

.navLink:focus {
}

.linkGroup {
  margin-bottom: 4rem;
}

.platformTotalGames{
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.7);
}

.morePlatformsLink {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
