.platformlist {
}

.text {
  color: white;
  opacity: .5;
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.quickStartBtn {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  justify-content: center;
  align-items: start;
  gap: .3rem;
  padding: .5rem 1.5rem 1rem 1.5rem;
  min-width: 15rem;
  font-size: 1.5rem;
  background: hsla(0, 0%, 0%, 0.25);
  overflow: hidden;
  position: relative;
}

.quickStartBtn svg {
  position: absolute;
  right: 0rem;
  bottom: -2.2rem;
  font-size: 7rem;
  opacity: .1;
}

.platformTotalGames{
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.7);
}

.morePlatformsLink {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.addPlatformBtn {
  display: flex;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-width: 15rem;
  font-size: 1.2rem;
  background: hsla(0, 0%, 0%, 0.25);
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}