.modal {
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  /* background-color: #3a2855; */
  background-color: #1e0f3d;
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsla(0, 0%, 0%, 0.2);
  width: 40rem;
  overflow: hidden;
}

.modalHeader {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a987dc;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.modalBody {
  display: flex;
  padding: 2rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.modalBody p {
  opacity: .5;
  text-align: left;
}

.modalFooter {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.modalFooter button {
  width: 50%;
  padding: 1rem;
  background: none;
  border-radius: none !important;
  font-size: 1.2rem;
}

.modalHeader, .modalBody{
  border-bottom: 1px solid #71569a52;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: .5rem;
}

.inputContainer label {
  opacity: .8;
  font-size: 1.2rem;
}

.inputContainer input {
  width: 30rem;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.2rem;
}

.inputDirPath {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-left: 1px solid #997cc552;
}

.containerInputDirPath {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: .4rem;
  border: 1px solid #997cc552;
  overflow: hidden;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.containerInputDirPath svg {
  margin: 0 .5rem;
  font-size: 1.3rem;
  opacity: .5;
}

.labelDirPath {
  opacity: .5;
  font-size: .9rem;
  margin-bottom: .2rem;
}

.inputErrorMessage {
  color: rgba(248, 65, 65, 0.854);
  font-weight: bold;
  transform: translateY(-10px);
  font-size: .9rem;
  margin-top: 1rem;
}
