.buttonList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonList button {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.buttonList button:first-of-type {
  border-radius: 1rem 1rem 0 0;
}

.buttonList button:last-of-type {
  border-radius: 0 0 1rem 1rem;
}

.buttonDelete {
  color: rgba(248, 65, 65, 0.854);
}
